
# Eclipse
.classpath
.project
.checkstyle
.settings/
*.launch

# Intellij
.idea/
*.iml
*.iws

# Netbeans
nb-configuration.xml

# Mac
.DS_Store

# Maven
log/
logs/
work/
target/
classes/
src/main/resources/git.properties

# http://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#runOrder
.surefire-*

# GWT
*/.gwt
*/src/main/webapp/WEB-INF/classes/

# Env
*.log
native/
.vault_token

# Git
*.orig

# Jenv
.java-version

# Jrebel
rebel*.xml

#Spring
*.pid
*.springBeans

