<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.github.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.expedia.content.media" level="TRACE"/>
    <logger name="org.springframework.aop" level="DEBUG" />
    
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
